
.admin-page {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* dsd----------------------------------------------------- */
  