.home-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    width: 100%;
    padding: 0;
  }
.home-profile-photo img{
  height: 288px;
  width: 216px;
  border: none;
  /* display: flex; */
  margin-left: 10px;
}

.home-profile-box {
  display: flex;
  align-items: top;
  margin-top: 20px;
  /* width: 100%; */
  /* float: left; */
  margin-right: 200px;
}

.home-profile-info-list {
  list-style-type: none;
}

.home-profile-info {
  padding-left: 20px;
  line-height: 2;
}

#home-profile-name {
  font-size: xx-large;
}


#home-button-yes {
  background-color: green;
  border-radius: 5px;
  margin-right: 30px;
  padding: 5px;
  color: white;
}

#home-button-no {
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  color:white
}

.home-buddy-discovery {
  display: block;
  margin-top: 50px;
  /* text-align: center; */
}

#buddy-discovery-header {
  font-size: large;
}

.buddy-list li {
  display: inline-block;
  margin: 20px;
}

.buddy-list li a {
  text-decoration: none;
}

.buddy-list li img {
  width: 50px;
  height: 60px;
}

.gym-discovery img {
  width: 200px;
}

.home-gym-name {
  text-align: center;
}

.gym-list {
  list-style-type: none;
}

.gym-box {
  /* float: left; */
  display: inline-block;
  margin-top: 20px;
  display: flex;
}

.gym-discovery-header {
  font-size: large;
  text-align: center;
  /* margin-bottom: 10px; */
}

.home-first-column {
  float:left;
}